.container{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    height: 300px;
}
.item{
    width: 100px;
    height: 100px;
    background-color: #3498db;
    margin: 10px;
}