.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    flex: 1 0 30%; /*grow:1 , shrink: 0, basis: 30%*/
    height: 100px;
    background-color: #e74c3c;
    margin: 10px;
}
.item:first-of-type{
    background-color: aqua;

}
.item:nth-child(2){
    background-color: blueviolet;
}